@media print {
  body * {
    visibility: collapse;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  #printSection,
  #printSection * {
    visibility: visible;
    white-space: normal;
  }
  #printSection {
    position: fixed;
    top:-10px !important;
    left:-2px !important;
    align-items: center;
    justify-content: center;
    margin: 0 !important;
    padding: 0 !important;
    width: 100%;
    height: 100%;
  }

  #printSectionConsentForm,
  #printSectionConsentForm * {
    visibility: visible;
    white-space: normal;
  }

  #printSectionConsentForm {
    position: absolute;
    top:-10px;
    margin: 0 !important;
    padding: 0 !important;
    width: 100%;
    height: 100%;
  }
  #printSectionConsentForm p {
    margin-left: 100px !important;
  }
}
p {
  margin-left: 50px !important;
}
@media all {
  .page-break {
    display: none;
  }
}

// @media print {
//   html, body {
//     height: initial !important;
//     overflow: initial !important;
//     -webkit-print-color-adjust: exact;
//   }
// }

// @media print {
//   .page-break {
//     margin-top: 1rem;
//     display: block;
//     page-break-before: auto;
//   }
// }

@page {
  size: auto;
  margin: 20mm;
}
