// Import Bootstrap and its default variables
@import "~bootstrap/scss/bootstrap.scss";

// Override default variables before the import
$body-bg: rgb(240, 240, 240);
.App {
  text-align: center;
}

.App-logo {
  height: 10vmin;
  pointer-events: visible;
}
.mainlayout {
  position: relative;
  display: inline-flexbox;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.alert-message p{
  font-size: 20px!important;
  margin: 0px !important;
  padding: 30px 50px!important;
}
// @media (prefers-reduced-motion: no-preference) {
//   .App-logo {
//     animation: App-logo-spin infinite 10s alternate-reverse;
//   }
// }

.App-header {
  background-color: hsl(220, 85%, 8%);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(9px + 2vmin);
  color: white;
}
.navText {
  color: whitesmoke;
  padding: 10px;
  font-size: medium;
  font-style: unset;
  font-weight: bolder;
  text-align: center;
}
.navText:hover {
  color: aquamarine;
  transition: all;
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.footer {
  display: block;
  position: fixed !important;
  left: 0;
  bottom: 0;
  width: 100%;
  // background-color:#046B86;
  background-color: hsl(220, 85%, 8%);
  color: hsl(214, 26%, 95%);
  font-weight: bold;
}

.footer a {
  color: whitesmoke;
  font-weight: bold;
}
.footer a:hover {
  color: wheat;
}
@media only screen and (max-width: 1300px) {
  .header-title {
    font-size: 20px;
  }
}
